<!DOCTYPE html>
<html>
    <head>
        <title>@String.Format(Resource.Global.Page_TitleFormat, Resource.Global.AdScrl_Terms)</title>
        <meta name="robots" content="noindex" />
        <link href="~/CSS/Colors.css" rel="stylesheet" />
        <link href="~/CSS/Menu.css" rel="stylesheet" />
        <link href="~/CSS/Form.css" rel="stylesheet" />
        <style type="text/css">
            body 
            { 
                margin: 0; 
                padding: 10px; 
                background-color: #fff; 
                overflow:auto;
            }

            table.form
            {
                width:100%;
            }

            table.form div.title
            {
                border: 1px solid #AAA;
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                text-align:left;
                background-color:#CCC;
            }

            div.title > span
            {
                padding: 5px 7px;
            }

            h2
	        {
	            margin-bottom: 10px;
	            color:#0056B6;
            }
            
            div.title > span, h2
            {
	            font-weight:normal;
	            font-size:15.0pt;
	            font-family:"Trebuchet MS","sans-serif";
            }

            p
            {
                margin-right:0cm;
	            margin-left:0cm;
                margin-bottom:10.0pt;
            }

            p, li
            {
	            font-size:10.0pt;
	            font-family:"Verdana","sans-serif";
            }
        </style>
        <script type="text/javascript">
            function accept() {
                if (window.opener && window.opener.acceptTerms) {
                    window.opener.acceptTerms();
                }
                window.close();
            }
        </script>
    </head>
    <body>
        <table class="form">
            <tr class="auto">
                <td style="padding: 2px;">
                    <div class="title">
                        <span>Terms & Conditions</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <h2>1.	Introduction</h2>
                    <p>Welcome to AdScroll.com, the Website. We, the Operators of this website, provide it as a public service to you, the User. By using the website and its services you agree to the following set of rules that govern your use of the website.</p>
                    <p>Your use of the website constitutes your unconditional agreement to follow and be bound by these Terms and Conditions of Use. If do not agree to all terms and conditions, now or in the future, you must immediately stop all use of the website, in which case any continuing access or use of it is unauthorized.</p>
                    <p>You are also required to comply with, and to ensure compliance with, all laws and regulations applicable to your activities on the website.</p>
                    <p>We reserve the right to update or modify these Terms and Conditions at any time without prior notice to user. Your use of the website following any such change constitutes your unconditional agreement to follow and be bound by these Terms and Conditions as changed. For this reason, we encourage you to review these Terms and Conditions of Use regularly.</p>

                    <h2>2.	General use of AdScroll </h2>
                    <p>You may use the website for the sole purpose of advertising your legitimate business, products and services, transmit or post communications via communities or communicate with other users via direct messaging.</p>
                    <p>While using AdScroll and its services you will not:
                    <ul>
                    <li>Communicate on or through the website any content that is unlawful, fraudulent, false, inaccurate, misleading, or otherwise objectionable material of any sort, including, but not limited to, any material that encourages conduct that would constitute a criminal offense, a civil liability, or otherwise violate any applicable local, state, national, or international law;</li>
                    <li>Upload or transmit any material that infringes or misappropriates any copyright, third party right, or disclose via the website any information the disclosure of which would constitute a violation of any confidentiality obligations you may have;</li>
                    <li>Collect or distribute other Users' personal information obtained through the use of the website to third parties for marketing or other purposes;</li>
                    <li>Post defamatory, libelous or sexually explicit content;</li>
                    <li>Post content or in inappropriate categories or areas of the website;</li>
                    <li>Try to circumvent any website policy or security measure.</li>
                    </ul>
                    </p>
                    <p>We may, but are not obligated to, monitor or review any areas of the website including user communications and the content. The operators may edit or remove content on the website at their discretion at any time.</p>
                    <p>If you provide any information that is fraudulent, untrue, inaccurate, incomplete, or not current, or we have reasonable grounds to suspect that such information is fraudulent, untrue, inaccurate, incomplete, or not current, the Operators shall deem this as a material breach of these Terms and Conditions of Use.</p>
                    <p>Users are strongly advised to use their best judgment when initiating or responding to communications with other Users and are required to report suspected cases of abuse or violation of these Terms and Conditions.</p>

                    <h2>3.	Personal information</h2>
                    <p>To access some content and/or additional features offered on the website, you may need to sign on or register as a member. When you create an account on the website, you may be asked to supply your name, location, an email and password. You agree to provide true, accurate, current, and complete information when registering with the website. You are responsible for maintaining the confidentiality of the password and account. You agree to immediately notify us of any unauthorized use of either your password or account or any other breach of security. You further agree that you will not permit others, including those whose accounts have been terminated, to access the website using your account.</p>
                    <p>You agree to provide true, accurate, current, and complete information when registering with the website. It is your responsibility to maintain and promptly update your account information to keep it true, accurate, current, and complete.</p>
                    <p>You grant us the right to transmit, store, retrieve, monitor, and use your information in connection with the operation of the website and in the provision of services to you.</p>
                    <p>We shall deem the compiling of marketing and mailing lists using Users' personal information, sending of unsolicited marketing materials to Users or the distribution of Users' personal information to third parties for marketing purposes as a material breach of these Terms and Conditions of Use. It may also constitute violations of various state and federal anti-spam statutes.</p>

                    <h2>4.	Limitation of Liability</h2>
                    <p>You agree to indemnify and hold us (and our affiliates) harmless from and against any and all claims or demands, including reasonable attorneys' fees, arising from or related to your use or misuse of the website, including, without limitation, your violation of these Terms and Conditions, the infringement by you, or any other user of your account, of any intellectual property right or other right of any person or entity.</p>
                    <p>We cannot and do not assume any responsibility or liability for any information you submit, or your or third parties’ use or misuse of information transmitted or received using the website. We will have no liability related to the content of any communications or content, whether or not arising under the laws of copyright, libel, privacy, obscenity, or otherwise.</p>
                    <p>I.	We and any affiliated party shall not be liable for any loss, injury, claim, liability, or damage of any kind resulting in any way from
                    a.	any errors in or omissions from the website or any services or products obtainable therefrom,
                    b.	the unavailability or interruption or performance of the website or any features thereof,
                    c.	your use of the website, or
                    d.	the content contained on the website.
                    II.	The aggregate liability of us in connection with any claim arising out of or relating to the site and/or the content or information provided herein or hereby shall not exceed $100 and that amount shall be in lieu of all other remedies which you may have against us.
                    </p>
                    <p>If you decide to access any of the third party sites linked to by the website, you do this entirely at your own risk. The Operators are not responsible for and assume no liability for the accuracy, copyright compliance, legality, or decency of material contained in third party sites, and you hereby irrevocably waive any claim against us with respect to such sites.</p>
                    <p>Any material, information, or other communication you transmit or post to the website will be considered non-confidential.</p>

                    <h2>5.	Violation and Termination</h2>
                    <p>These Terms and Conditions of Use are effective until terminated by either party. If you no longer agree to be bound by these Terms and Conditions, you must cease use of the website. If you are dissatisfied with the website, its content, or any of these terms, conditions, and policies, your sole legal remedy is to discontinue using the website. We reserve the right to terminate or suspend your access to and use of the website, or parts of the website, without notice, if we believe, in our sole discretion, that such use (i) is in violation of any applicable law; (ii) is harmful to our interests or the interests, including intellectual property or other rights, of another person or entity; or (iii) where the operators have reason to believe that you are in violation of these Terms and Conditions of Use. In such event we reserve the right to suspend or terminate your account, suspend or revoke your membership and content without refund of any membership dues paid and refuse any and all current and future use of the website.</p>
                    <p>We reserve the right to investigate complaints or reported violations of this agreement or any applicable law and report any suspected abuse or unlawful activity to law enforcement or government authorities, officials, regulators, or other third parties. The Operators will fully cooperate with the investigation of these violations and disclose any information necessary or appropriate to such persons or entities relating to your profile, usage history, or posted content.</p>

                    <h2>6.	Third Party content</h2>
                    <p>The website may contain links to other websites owned or operated by independent third parties. These links are provided for your convenience and reference only. We do not control such sites and, therefore, we are not responsible for any content posted on these sites. Presence of these links should not be construed in any way as an endorsement, authorization, or sponsorship of that site, its content or the companies or products referenced therein, and we reserve the right to note its lack of affiliation, sponsorship, or endorsement on the website.</p>
                    <p>These Terms and Conditions of Use apply to the use of the website and do not extend to any linked third party sites themselves.</p>
                    <br />
                    <p>Last updated: July 3, 2013</p>
                </td>
            </tr>
            <tr class="auto">
                <td class="buttonPanel right" style="border-top:1px solid #AAA;">
                    <button class="active" onclick="accept();"><span class="button-content">Ok</span></button>
                </td>
            </tr>
        </table>
    </body>
</html>
