<!DOCTYPE html>
<html>
<head>
    <title>Residential property management - Invitation | @Resource.Global.Adscroll</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 10px;
            background-color: #fff;
            overflow: auto;
        }

        h2 {
            margin-bottom: 10px;
            font-size: 15.0pt;
            font-family: "Trebuchet MS","sans-serif";
            color: #0056B6;
            font-weight: normal;
        }

        p {
            margin-right: 0cm;
            margin-left: 0cm;
            margin-bottom: 10.0pt;
            font-size: 10.0pt;
            font-family: "Verdana","sans-serif";
        }

        a
	    {
            color:blue;
	        text-decoration:underline;
        }
    </style>
</head>
<body>
    <h2>Adscroll.com invitation for residential property management.</h2>
    <p>
        We would like to invite you - a manager of a residential property to create an online Community on <a href="http://www.adscroll.com">adscroll.com</a> - free online local communities website. You can use this community to  facilitate your staff and residents to communicate via discussion forums and community Ads.<br />
        <br />
        Every residential community needs a place for property management announcements and resident ads. Instead of posters and bulletin boards throughout halls your buildings you can use a free service provided by our website to create an electronic community for your property. This community is fully managed by your staff and can be used to publish announcements about scheduled maintenance, events, vacancies et cetera. Optionally you can let residents post&nbsp;their own&nbsp;ads such as leasing a parking space, locker, selling or donating a piece of furniture.<br />
        <br />
        You can create a friendly web address for you community in the form of an ascroll.com/<em>yourcommunityname</em>, and place a link to it on your own web-site.<br />
        <br />
        Our website has recently launched, is free to use and available in English language. As a start-up company we are committed to working with you and will provide every opportunity for early adopters to influence and shape our services and functionality of the website to best fit your needs.<br />
        <br />
        To get started with adscroll.com Communities and Business directory functionality please follow a series of posts in the <a href="http://www.adscroll.com/community/topics?t=%7B%220%22%3A16%2C%229%22%3A3%2C%2212%22%3A5%7D">Communities 101</a> and <a href="http://www.adscroll.com/community/topics?t=%7B%220%22%3A16%2C%229%22%3A3%2C%2212%22%3A6%7D">Business 101</a>
        forums.<br />
        <br />
        For technical assistance and with any questions or comments, please write us back by replying to this email or contact using &#8220;Send Message&#8221; option on our <a href="http://www.adscroll.com/contact">business page</a>. We can also setup a quick phone call if you are interested.<br />
        <br />
        We will be very pleased to have you on board and look forward to your feedback, questions and suggestions.
    </p>
</body>
</html>
