<!DOCTYPE html>
<html>
<head>
    <title>Small businesses - Invitation | @Resource.Global.Adscroll</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 10px;
            background-color: #fff;
            overflow: auto;
        }

        h2 {
            margin-bottom: 10px;
            font-size: 15.0pt;
            font-family: "Trebuchet MS","sans-serif";
            color: #0056B6;
            font-weight: normal;
        }

        p {
            margin-right: 0cm;
            margin-left: 0cm;
            margin-bottom: 10.0pt;
            font-size: 10.0pt;
            font-family: "Verdana","sans-serif";
        }

        a
	    {
            color:blue;
	        text-decoration:underline;
        }
    </style>
</head>
<body>
  <h2>Adscroll.com invitation for small businesses.</h2>
  <p>
      We would like to invite you - a small business owner to create a profile for your business and advertise your products and services on <a href="http://www.adscroll.com">adscroll.com</a> - free online local business directory.<br />
      <br />
      It is fast, easy and completely free to advertise with us and here is what you can do:<br />
      <br />
      Create an online page that features your business’ name, description and contact information<br />
      List and promote your products and services<br />
      Create your business catalog with it's own categories<br />
      Create a community to facilitate public discussions with your customers<br />
      Communicate directly and in private with other users<br />
      Connect with other businesses in our directory<br />
      Create a friendly web address for your business in the form of ascroll.com/<em>yourbusinessname</em><br />
      <br />
      We work with search engines such as Google and automatically submit your listings to their index<br />
      <br />
      Our website has recently launched, is free to use and available in English language. As a start-up company we are committed to working with you and will provide every opportunity for early adopters to influence and shape our services and functionality of the website to best fit your needs.<br />
      <br />
      To get started with adscroll.com Business directory functionality please follow a series of posts in the <a href="http://www.adscroll.com/app#/community/topics/%7B%220%22%3A16%2C%229%22%3A3%2C%2212%22%3A6%7D">Business 101</a> forum.<br />
      <br />
      For technical assistance and with any questions or comments, please write us back by replying to this email or contact using &#8220;Send Message&#8221; option on our <a href="http://www.adscroll.com/contact">business page</a>. We can also setup a quick phone call if you are interested.<br />
      <br />
      We will be very pleased to have you on board and look forward to your feedback, questions and suggestions.
  </p>
</body>
</html>
